{ 
    "presets": 
        [
            [
                "@babel/preset-env",
                {
                    "modules":false //否則Babel 會在Rollup 有機會做處理之前，將我們的模塊轉成CommonJS ，導致Rollup 的一些處理失敗
                }
            ]
        ]    
}